<div class="tip-settings">

  <div class="settings-panel">
    <%= render partial: "tippees/token_form" %>
  </div>

  <div class="settings-panel">
    <%= render partial: "tippers/tipper_amount_form" %>
  </div>

  <div class="settings-panel">
    <%= render partial: "deposit_form" %>
  </div>

  <div class="settings-panel">
    <%= render partial: "withdrawal_form" %>
  </div>

</div>