<h1> Thank you for using TipJar. The world appreciates it.</h1>

<h2> <%= link_to "click here to open your invoice in a new tab", @invoice_url, target: "_blank" %> </h2> 

<h3> <%= link_to "back home", root_path %> </h3> 

<h3> <%= link_to "back to tip settings", tip_settings_path %> </h3> 