<h1>Your withdrawal has been confirmed. Thank you for using Tip Jar.</h1>


<h3> 	<%= link_to "back home", root_path %> </h3>

<h3> <%= link_to "back to tip settings", tip_settings_path(current_user) %> </h3> 