<div id="topper">
  <div class="wrap">
    <img id="logo-image" src="assets/tipjar-logo.svg">
  </div>
</div>

<div class="header-cover container col-lg-12" id='main_body'>

  <div class="header-buffer"></div>
  <div class='welcome_container col-md-8'>
    <div class='left_welcome_container col-md-6'>
      <div class='welcome_message'>
        <h2 class="welcome-sentence">Welcome to Tip Jar,</h2>
        <p class="welcome-sentence">an easy, convenient and fast way to express your appreciation on the web.</p>
      </div>

      <div class='recent_tips' id='rolling_tips'>
          <!-- <p>Recent tips</p> -->
      </div>
    </div>

    <div class='right_welcome_container col-md-6'>
      <div class='sign_in'>
        <%= render partial: "devise/sessions/form" %>
      </div>

      <div class='sign_up'>
        <%= render partial: "devise/registrations/form" %>
      </div>
    </div>

  <div class="clear">
  </div>



