<div class='page-header'>
  <h1>Tip Jar</h1>
</div>

<div class='welcome_container col-md-8'>
  <div class='left_welcome_container col-md-6'>
    <div class='welcome_message'>
      <p>Welcome to Tip Jar</p>
    </div>

  <div class='recent_tips'>
    <p>Recent tips</p>
  </div>
</div>

<div class='right_welcome_container col-md-6'>
  <div class='sign_in'>
  </div>

  <div class='sign_up'>
    <P>SIGN UP</P>
  </div>
</div>
